* {
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
}


/* .container {
    width: 1140px;
    margin: 0% auto;
} */

nav {
    padding: 20px;
    background-color: rgb(78, 31, 155);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,
.nav-link {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
    padding: 0px 20px;
    color: white;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: blue;
    border: 2px solid chocolate;
    padding: 20px;
    border-radius: 2px;
    display: none;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(49, 212, 196);
    width: 100%;
}


/* .content-image {
    width: 90%;
} */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-img {
    width: 700px;
}

.content-content {
    margin: 20px;
    padding: 10px;
    background-color: tomato;
}

.content-title {
    font-size: 30px;
    font-weight: 600;
}

.content-text {
    font-size: 20px;
    font-weight: 400;
}

@media (max-width:1024px) {
    .container {
        width: 924px;
    }
    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
    .content-img {
        width: 600px;
    }
}

@media (max-width:924px) {
    .container {
        width: 824px;
    }
    .content-img {
        width: 500px;
    }
}

@media (max-width:824px) {
    .container {
        width: 724px;
    }
    .content-img {
        width: 400px;
    }
}

@media (max-width:624px) {
    .container {
        width: 524px;
    }
    .content-img {
        width: 400px;
    }
}

@media (max-width:524px) {
    .container {
        width: 424px;
    }
    .content-img {
        width: 400px;
    }
    .btn {
        display: block;
    }
    .nav-link {
        display: none;
    }
}