            * {
                padding: 0%;
                margin: 0%;
                list-style: none;
                text-decoration: none;
            }
            
            .container {
                width: 1140px;
                margin: 0px auto;
            }
            
            .header {
                background-color: aqua;
                padding: 20px 0px;
            }
            
            .menu {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
            
            .list {
                width: 27%;
                background-color: bisque;
                margin: 10px;
                padding: 10px;
                box-shadow: 0px 3px 50px salmon;
                border-radius: 5px;
            }
            
            .list:hover {
                background-color: rgb(233, 182, 121);
                box-shadow: 0px 3px 50px rgb(0, 0, 0);
            }
            
            .item-img {
                width: 100%;
                border-radius: 5px;
            }
            
            @media (max-width:1120px) {
                .container {
                    width: 1000px;
                }
                .list {
                    width: 27%;
                    background-color: rgb(184, 112, 24);
                }
            }
            
            @media (max-width:1020px) {
                .container {
                    width: 900px;
                }
                .list {
                    width: 27%;
                    background-color: rgb(219, 156, 79);
                }
            }
            
            @media (max-width:920px) {
                .container {
                    width: 800px;
                }
                .list {
                    width: 27%;
                    background-color: rgb(24, 184, 32);
                }
            }
            
            @media (max-width:820px) {
                .container {
                    width: 700px;
                }
                .list {
                    width: 40%;
                    background-color: rgb(24, 112, 184);
                }
            }
            
            @media (max-width:720px) {
                .container {
                    width: 600px;
                }
                .list {
                    width: 44%;
                    background-color: rgb(230, 222, 213);
                }
            }
            
            @media (max-width:620px) {
                .container {
                    width: 500px;
                }
                .list {
                    width: 40%;
                    background-color: rgb(90, 190, 160);
                }
            }
            
            @media (max-width:520px) {
                .container {
                    width: 400px;
                }
                .list {
                    width: 100%;
                    background-color: rgb(61, 24, 184);
                }
            }
            
            @media (max-width:420px) {
                .container {
                    width: 300px;
                }
                .list {
                    width: 100%;
                    background-color: rgb(179, 24, 184);
                }
            }